@charset "UTF-8";

.about {
  margin: 0 auto;
  margin-bottom: 200px;
  position: relative;
  height: 1000px;
}

.font2 {
  font-size: 50px;
  font-style: italic;
  text-align: right;
  position: absolute;
  width: 100%;
  top: 750px;
  right: 150px;
  margin: 50px 0;
  color: #949387;
  text-shadow: rgba(150,134,126,0.5) 2px 2px 2px;
}

.font2::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 25%;
  height: 2px;
  margin: 0 auto;
  text-align: right;
  background-image: -webkit-linear-gradient(left, transparent, #7f7868 25%, #7f7868 75%, transparent);
  background-image:linear-gradient(to right, transparent, #7f7868 25%, #7f7868 75%, transparent);
  background-position: right;
  background-repeat: no-repeat;
  border-radius: 30px;
}

.font2 span {
  font-size: 20px;
}

.about_bg img {
  opacity: 0.8;
  width: 100%;
  top: -0.95%;
  position: absolute;
}

.about_txt p {
  position: relative;
  top: 850px;
}

.about_acc {
  margin-bottom: 150px;
}

.about_acc_map {
  width: 60%;
  height: 350px;
  -webkit-clip-path: polygon(50% 0, 100% 73%, 100% 100%, 0 100%, 0 0);
  clip-path: polygon(50% 0, 100% 73%, 100% 100%, 0 100%, 0 0);
}

.about_acc_map iframe {
  width: 100%;
  height: 100%;
}

.about_acc_list {
  position: absolute;
  top: 50%;
  left: 70%;
  transform: translate(-20%, -110%);
}

.about_acc_item {
  margin-bottom: 30px;
}

.about_acc_title {
  margin-bottom: 5px;
  font-size: 16px;
}

.about_acc_txt {
  font-size: 14px;
  line-height: 1.8;
}

.font3 {
  font-size: 40px;
  font-style: italic;
  text-align: left;
  position: relative;
  width: 100%;
  margin: 50px 0;
  color: #949387;
  text-shadow: rgba(150,134,126,0.5) 2px 2px 2px;
}

.font3::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 20%;
  height: 2px;
  margin: 0 auto;
  text-align: right;
  background-image: -webkit-linear-gradient(right, transparent, #7f7868 25%, #7f7868 75%, transparent);
  background-image:linear-gradient(to left, transparent, #7f7868 25%, #7f7868 75%, transparent);
  background-position: left;
  background-repeat: no-repeat;
  border-radius: 30px;
}

.font3 span {
  font-size: 15px;
}

.faq {
  background: rgba(109,101,91,0.2);
  height: 700px;
  padding-top: 35px;
}

.faq .inner {
  position: relative;
  z-index: 2;
}

.faq .txt {
  background: linear-gradient(#fdf3e7, #DBCBB9, #fdf3e7);
  width: 80%;
  margin: 0 auto;
  padding: 60px;
  font-size: 14px;
  border-radius: 30px;
}

.faq_hidden {
  display: none;
}

.faq_open {
  display: block;
  padding: 10px;
  background: #f7f4f1;
  cursor: pointer;
  margin: 5px 0;
  position: relative;
}

.faq_open::before, 
.faq_open::after {
  content: "";
  width: 15px;
  height: 3px;
  background: #6D655B;
  position: absolute;
  top: 50%;
  left: 90%;
  transform: translateY(-50%);
}

.faq_open::after {
  transform: translateY(-50%) rotate(90deg);
  transition: 0.5s;
}

.faq_hidden:checked + .faq_open::after {
  transform: translateY(-50%) rotate(0);
}

.faq_close {
  display: block;
  height: 0;
  overflow: hidden;
  padding: 0;
  opacity: 0;
  transition: 0.5s;
}

.faq_hidden:checked + .faq_open + .faq_close {
  height: auto;
  opacity: 1;
  padding: 10px;
}

.faq .more {
  text-align: center;
  border-bottom: 4px solid #949387;
  width: 17%;
  margin: 20px auto;
  padding: 20px 20px;
  border-radius: 50%;
}

.faq .more a {
  color: #949387;
  font-weight: bold;
  transition: 1s;
}




/*レスポンシブ*/
@media screen and (max-width: 1024px) {
.font2 {
   right: -31px;
   top: 497px;
}

.about_txt p {
  top: 617px;
}

.about_acc_list {
  top: -233px;
  left: 70%;
}

.about_acc_map {
  top: -395px;
  position: relative;
}
.about_acc {
    margin-bottom: 100px;
    height: 100px;
}

}

@media screen and (max-width: 768px) {
.about_bg img {
    top: 2%;  
}

header .logo img {
    width: 22px;
}

.font2 {
   right: -31px;
   top: 257px;
   font-size: 40px;
}
 .font2 span {
    font-size: 12px;
  }

.font2::before {
  width: 45%;
  }

.about_txt p {
    top: 370px;
    left: -10px;
}

.about_acc_title {
    margin-bottom: 3px;
    font-size: 13px;
}

.about_acc_item {
    margin-bottom: 21px;
    height: 100%;
}    


.about_acc_list {
    top: -444px;
    left: 32%;
    display: block;
    width: 100%;
}

.about_acc_map {
    top: -163px;
    position: relative;
    clip-path: unset;
    width: 100%;
    height: 300px;
}

.faq .more {
  width: 22%;
}

.faq .txt {
    width: 92%;
    padding: 61px;
    font-size: 12px;
    position: relative;
    left: -43px;
}
}

@media screen and (max-width: 480px) {

header .logo {
  padding: 0px 0 0 5px;
}


.font2 {
   right: -23px;
   top: 179px;
   font-size: 30px;
}

.font3 {
   font-size: 30px;
}

 .font2 span, .font3 span {
    font-size: 10px;
  }

.font2::before, .font3::before  {
  width: 45%;
  }

.about_txt p {
    top: 300px;
    left: 7px;
}

.about_acc_list {
    top: -600px;
    left: 22%;
}

.about_acc_title {
  font-size: 12px;
}

.about_acc_txt {
    font-size: 12px;
}    

.about_acc_map {
    top: -311px;
}

.about_acc {
    margin-bottom: 0;
}    

.faq {
  height: 600px;
}

.faq .txt {
    width: 100%;
    padding: 20px;
    font-size: 12px;
    left: -23px;
    position: relative;
}

.faq .more {
  width: 30%;
}
}