@charset "UTF-8";

.service {
  margin: 0 auto;
  margin-bottom: 100px;
  position: relative;
  height: 550px;
}

.font3 {
  font-size: 40px;
  font-style: italic;
  text-align: left;
  position: relative;
  width: 100%;
  left: -50px;
  margin: 50px 0;
  color: #949387;
  text-shadow: rgba(150, 134, 126, 0.5) 2px 2px 2px;
}

.font3::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 30%;
  height: 2px;
  margin: 0 auto;
  text-align: right;
  background-image: -webkit-linear-gradient(
    right,
    transparent,
    #7f7868 25%,
    #7f7868 75%,
    transparent
  );
  background-image: linear-gradient(
    to left,
    transparent,
    #7f7868 25%,
    #7f7868 75%,
    transparent
  );
  background-position: left;
  background-repeat: no-repeat;
  border-radius: 30px;
}

.service_bg img {
  opacity: 0.7;
  width: 50%;
  position: absolute;
  left: 50%;
  top: -23.6%;
  -webkit-clip-path: polygon(38% 10%, 100% 10%, 100% 100%, 0 100%, 0 63%);
  clip-path: polygon(38% 10%, 100% 10%, 100% 100%, 0 100%, 0 63%);
}

.service_txt {
  margin-top: 5px;
  width: 50%;
  height: 100px;
  position: absolute;
  left: -50px;
}

.service_top {
  width: 56%;
  top: 360px;
  position: absolute;
  left: -65px;
  height: 100px;
}

.service_top ul {
  display: inline-flex;
  padding: 30px 0;
}

.service_top ul li {
  text-align: center;
  padding: 30px;
}

.service_top ul li a {
  color: #6d655b;
  font-size: 16px;
  display: block;
}

.service_top ul li:hover {
  opacity: 0.5;
}

.service_top ul li small {
  color: #7f7868;
  display: block;
  font-size: 12px;
}

#service_list1,
#service_list2,
#service_list3 {
  display: inline-block;
}

.service_body {
  width: 100%;
  height: 1800px;
  position: relative;
  margin-bottom: 200px;
}

.service_list {
  width: 80%;
}

.font2 {
  font-size: 40px;
  font-style: italic;
  text-align: right;
  position: relative;
  width: 100%;
  margin: 50px 0;
  color: #949387;
  text-shadow: rgba(150, 134, 126, 0.5) 2px 2px 2px;
}

.font2::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 30%;
  height: 2px;
  margin: 0 auto;
  text-align: right;
  background-image: -webkit-linear-gradient(
    left,
    transparent,
    #7f7868 25%,
    #7f7868 75%,
    transparent
  );
  background-image: linear-gradient(
    to right,
    transparent,
    #7f7868 25%,
    #7f7868 75%,
    transparent
  );
  background-position: right;
  background-repeat: no-repeat;
  border-radius: 30px;
}

.font3 {
  font-size: 40px;
  font-style: italic;
  text-align: left;
  position: relative;
  width: 100%;
  margin: 50px 0;
  color: #949387;
  text-shadow: rgba(150, 134, 126, 0.5) 2px 2px 2px;
}

.font3::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 10%;
  height: 2px;
  margin: 0 auto;
  text-align: right;
  background-image: -webkit-linear-gradient(
    right,
    transparent,
    #7f7868 25%,
    #7f7868 75%,
    transparent
  );
  background-image: linear-gradient(
    to left,
    transparent,
    #7f7868 25%,
    #7f7868 75%,
    transparent
  );
  background-position: left;
  background-repeat: no-repeat;
  border-radius: 30px;
}

.font4 {
  font-size: 40px;
  font-style: italic;
  text-align: left;
  position: relative;
  width: 100%;
  left: -50px;
  margin: 80px 0 0 92px;
  color: #949387;
  text-shadow: rgba(150, 134, 126, 0.5) 2px 2px 2px;
}

.font4::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: -10px;
  width: 25%;
  height: 2px;
  margin: 0 auto;
  text-align: left;
  background-image: -webkit-linear-gradient(
    right,
    transparent,
    #7f7868 25%,
    #7f7868 75%,
    transparent
  );
  background-image: linear-gradient(
    to left,
    transparent,
    #7f7868 25%,
    #7f7868 75%,
    transparent
  );
  background-position: left;
  background-repeat: no-repeat;
  border-radius: 30px;
}

.font5 {
  font-size: 40px;
  font-style: italic;
  text-align: right;
  position: relative;
  width: 100%;
  margin: 40px 120px 0 0;
  color: #949387;
  text-shadow: rgba(150, 134, 126, 0.5) 2px 2px 2px;
}

.font5::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 20%;
  height: 2px;
  margin: 0 auto;
  text-align: right;
  background-image: -webkit-linear-gradient(
    left,
    transparent,
    #7f7868 25%,
    #7f7868 75%,
    transparent
  );
  background-image: linear-gradient(
    to right,
    transparent,
    #7f7868 25%,
    #7f7868 75%,
    transparent
  );
  background-position: right;
  background-repeat: no-repeat;
  border-radius: 30px;
}

.font2 span,
.font3 span,
.font4 span,
.font5 span {
  font-size: 15px;
}

.service_item1 img {
  width: 70%;
  -webkit-clip-path: polygon(40% 0, 100% 0, 100% 60%, 40% 100%, 0 100%, 0 30%);
  clip-path: polygon(40% 0, 100% 0, 100% 60%, 40% 100%, 0 100%, 0 30%);
}

.service_item2 h1 {
  position: absolute;
  top: -50px;
  left: -150px;
}

.service_item2 p {
  width: 28%;
  position: absolute;
  top: 130px;
  right: 130px;
}

p.bar_txt {
  width: 50%;
  position: absolute;
  top: 460px;
  right: 130px;
}

.service_item3 img {
  width: 50%;
  text-align: right;
  position: absolute;
  right: 0;
  top: 600px;
  -webkit-clip-path: polygon(50% 0, 100% 40%, 100% 100%, 50% 100%, 0 60%, 0 0);
  clip-path: polygon(50% 0, 100% 40%, 100% 100%, 50% 100%, 0 60%, 0 0);
}

.service_item4 p {
  width: 60%;
  position: absolute;
  top: 750px;
  left: 35px;
}

.service_item5 img {
  width: 50%;
  top: 1100px;
  text-align: left;
  position: absolute;
  -webkit-clip-path: polygon(
    100% 14%,
    100% 70%,
    40% 100%,
    0 100%,
    0 40%,
    42% 14%
  );
  clip-path: polygon(100% 14%, 100% 70%, 40% 100%, 0 100%, 0 40%, 42% 14%);
}

.service_item6 h1 {
  position: absolute;
  top: 1180px;
  right: 120px;
}

.service_item6 p {
  width: 40%;
  position: absolute;
  top: 1360px;
  right: 100px;
}

p.bicycle_txt {
  width: 50%;
  position: absolute;
  top: 1650px;
  right: -5px;
}

/*レスポンシブ*/
@media screen and (max-width: 1024px) {
  .service_bg img {
    top: -19.7%;
  }

  .font3::before {
    width: 30%;
  }

  .font4 {
    margin: 210px 0 0 92px;
  }

  .font4::before {
    width: 80%;
  }

  .font5::before {
    width: 25%;
  }

  .service_item2 h1 {
    left: -88px;
  }

  .service_item2 p {
    width: 33%;
    right: 88px;
  }

  p.bar_txt {
    width: 53%;
    top: 407px;
    right: 88px;
  }

  .service_item4 h1 {
    width: 28%;
    position: absolute;
    top: 388px;
    left: -50px;
  }

  .service_item4 p {
    width: 45%;
    top: 711px;
  }

  .service_item6 h1 {
    top: 1134px;
    right: 105px;
  }

  .service_item6 p {
    top: 1293px;
    right: 69px;
  }

  p.bicycle_txt {
    top: 1520px;
    right: 55px;
  }
}

@media screen and (max-width: 768px) {
  
  .service_body {
    height: 1150px;
    margin-bottom: 100px;
  }

  .service_bg img {
    top: -10.7%;
  }

  .font3 {
    font-size: 30px;
    top: 35px;
    left: -37px;
  }

  .font3::before {
    width: 40%;
  }

  .font2 span,
  .font3 span,
  .font4 span,
  .font5 span {
    font-size: 10px;
  }

  .service_txt {
    width: 53%;
    left: -34px;
  }

  .service_top {
    top: 180px;
    left: 230px;
  }

  .service_top ul {
    display: block;
  }

  .service_top ul li {
    padding: 8px;
  }

  .service_top ul li a {
    font-size: 13px;
  }

  .service_top ul li small {
    font-size: 10px;
  }

  .service {
    margin-bottom: 50px;
    height: 460px;
  }

  .service_item2 h1 {
    top: 152px;
    left: -283px;
  }

  .font2 {
    font-size: 30px;
  }

  .font2::before {
    width: 50%;
  }

  .service_item2 p {
    width: 37%;
    top: 9px;
    right: 30px;
  }

  p.bar_txt {
    top: 274px;
    width: 75%;
  }

  .service_item3 img {
    top: 433px;
  }

  .font4 {
    font-size: 30px;
  }

  .font4::before {
    width: 100%;
  }

  .service_item4 h1 {
    width: 31%;
    top: 420px;
    left: 31%;
  }

  .service_item4 p {
    width: 41%;
    top: 452px;
    left: 7%;
  }

  .service_item5 img {
    top: 740px;
  }

  .font5 {
    font-size: 30px;
  }

  .font5::before {
    width: 40%;
  }

  .service_item6 h1 {
    top: 964px;
    left: -60%;
  }

  .service_item6 p {
    top: 787px;
    right: 38px;
  }

  p.bicycle_txt {
    top: 1071px;
    right: 30px;
    width: 77%;
  }
}

@media screen and (max-width: 480px) {
  .service {
    height: 390px;
  }

  .font3 {
    font-size: 20px;
    top: 35px;
    width: 45%;
  }

  .service_top {
    top: 132px;
    left: 181px;
  }

  .service_body {
    margin-bottom: 50px;
  }

  .font3 {
    top: 35px;
  }

  .font2 span,
  .font3 span,
  .font4 span,
  .font5 span {
    font-size: 10px;
  }

  .font2,
  .font3,
  .font4,
  .font5 {
    font-size: 20px;
  }

  .font2::before,
  .font3::before,
  .font4::before,
  .font5::before {
    width: 40%;
  }

  .service_item2 h1 {
    top: 98px;
    left: -179px;
  }

  .service_item2 p {
    width: 40%;
    top: 9px;
    right: 10px;
  }

  p.bar_txt {
    top: 210px;
    width: 47%;
    left: 5%;
  }

  .service_item4 h1 {
    width: 34%;
    top: 392px;
    left: 27%;
  }

  .service_item4 p {
    width: 47%;
    top: 439px;
    left: 4%;
  }

  .service_item5 img {
    top: 716px;
  }

  .service_item6 h1 {
    top: 872px;
    left: -56%;
  }

  .service_item6 p {
    top: 747px;
    right: 16px;
    width: 44%;
  }

  p.bicycle_txt {
    top: 964px;
    left: 14px;
    width: 45%;
  }
}
